<a href="https://colab.research.google.com/github/AskdataHQ/askdata-docs/blob/gh-pages/notebooks/Askdata%20-%20Quickstart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Let's install Askdata
!pip install askdata

In [0]:
#Import of the library
from askdata import Askdata, Agent
import pandas as pd

In [0]:
# Authenticate providing username and password
askdata = Askdata()
# If you don't have an account you can register from here: https://app.askdata.com/signup - remember to confirm your e-mail

Askdata Username: your-name@mail.com
Askdata Password: ··········

In [0]:
# Simple query
df = askdata.get('give me sales by countries', workspace='sales_demo')
df

  Store Country     Store sales
0           USA  1,116,046.55 $
1        Mexico    430,293.59 $
2        Canada     98,045.46 $

In [0]:
#create one dataset on another agent starting from a dataframe
askdata.save(df, dataset_name='My Sales', workspace='other_workspace_slug')